.social__list {
  width: 125px;
  height: 19px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.social__image {
  fill: @brownish-grey-color;

  &--ig-large {
    width: 23px;
    height: 23px;
  }

  &:hover,
  &:focus {
    fill: @content-main-color;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .social__image {
    &--vk {
      width: 36px;
      height: 16px;
    }

    &--ig {
      width: 23px;
      height: 23px;
    }

    &--fb {
      width: 14px;
      height: 28px;
    }
  }
}
